<ion-header class="ion-no-border">
  <ion-toolbar  mode="md">
    <ion-title class="ion-text-start">
      Discover
    </ion-title>
    <ion-icon slot="end" name="camera" size="large" class="ion-margin-end icon-header"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container [slidesPerView]="4" [virtual]="true" class="ion-margin-start ion-margin-top">
    <swiper-slide>
      <div>
        <ion-avatar class="profile-pic-container">
          <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          <ion-icon id="camera-icon" name="add-circle"></ion-icon>
        </ion-avatar>
      </div>
    </swiper-slide>
    <swiper-slide  *ngFor="let item of [1,1,1,1,1,1,1]; index as i">
      <div>
        <ion-avatar>
          <ion-img [src]="'https://i.pravatar.cc/300?u='+(i*2)"></ion-img>
        </ion-avatar>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="ion-margin-top">
    <ng-container *ngFor="let item of data">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="item.images[0].url" />
        </ion-thumbnail>
        <ion-label>
          <h2 style="font-size: 1.33em;"><b>{{item.title}}</b></h2>
          <p>{{item.images.length}} photo add by {{item.user}}</p>
        </ion-label>
      </ion-item>

      <swiper-container [slidesPerView]="1.3" [virtual]="true" class="ion-margin-top ion-margin-start">
        <swiper-slide class="content-post-img"  *ngFor="let item of item.images; index as i">
          <div class="content-img">
            <img [src]="item.url">
          </div>
          <div class="options">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </div>
        </swiper-slide>
      </swiper-container>
    </ng-container>
  </div>
  
</ion-content>